name: Docker Image CI

on:
  push:
    branches: [ "action" ]
  pull_request:
    branches: [ "action" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    -
        name: Checkout
        uses: actions/checkout@v3
    -
        name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: f4rsh4d
          password: dckr_pat_VhqsnGaeZcp8o7RVgjZ1OYXp7XU
    -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
    -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: f4rsh4d/operator-nginx:latest
